In [1]:
import json
import pandas as pd

# json 파일에서 -> 챔피언 번호, 이름 매칭

In [2]:
a_json = open('champion.json')
a_dict = json.load(a_json)

In [3]:
ls=[[a_dict["data"][i]['key'],i] for i in a_dict['data']]

In [4]:
ls=pd.DataFrame(ls)

In [5]:
ls.columns=['Num','Name']

In [6]:
ls.Num=ls.Num.astype('int64')

In [7]:
ls.sort_values(by='Num',inplace=True)

In [8]:
ls.reset_index(inplace=True)

In [9]:
ls.columns=['num1','Num','Name']

In [10]:
num=list(ls.Num)

In [11]:
idx=list(ls.num1)

In [12]:
ls=ls[['Name']]

In [13]:
ls

            Name
0          Annie
1           Olaf
2          Galio
3    TwistedFate
4        XinZhao
..           ...
155         Yone
156         Sett
157       Lillia
158         Gwen
159       Renata

[160 rows x 1 columns]

### 원래는 200여개 이상의 챔피언이 존재하나
### 챌린저, 그랜드마스터 (상위 0.066 %) 이상의 게임 데이터라서 성능이 약한 챔피언들은 선택되지 않았음
### 그래서 챔피언 리스트 160개

In [14]:
cmp=ls[ls.Name.isna()]

### 챔피언마다 어느정도는 역할 정해져있음
### 똑같은 챔피언이라도 포지션에 따라 활약정도가 바뀜 -> 포지션+챔피언 합침
### 챔피언 160 * 포지션 5 = 800개의 범주

In [16]:
# mid jungle top ad sup
# 3    2     4   1   5

In [15]:
pos=['AD ','Jungle ','Mid ','Top ','Support ']

In [17]:
for i in pos:
    cmp=pd.concat([cmp,i+ls])

In [18]:
cmp.reset_index(inplace=True)

In [19]:
cmp.columns=['num','Name']

In [20]:
cmp

     num            Name
0      0        AD Annie
1      1         AD Olaf
2      2        AD Galio
3      3  AD TwistedFate
4      4      AD XinZhao
..   ...             ...
795  155    Support Yone
796  156    Support Sett
797  157  Support Lillia
798  158    Support Gwen
799  159  Support Renata

[800 rows x 2 columns]

# 데이터

### 87개 데이터 합치기

In [21]:
train=pd.read_csv(f'data/train/df_00000.csv')

### df_00000.csv ~ df_00086.csv

In [22]:
for i in range(1,87):
    train=pd.concat([train,pd.read_csv(f'data/train/df_000{str(i).zfill(2)}.csv')])     # 86번 데이터까지 불러오면서 concat

In [46]:
train

,teamVictory,Player_1_pick,Player_2_pick,Player_3_pick,Player_4_pick,Player_5_pick,Player_6_pick,Player_7_pick,Player_8_pick,Player_9_pick,Player_10_pick
0,0,362,261,501,52,722,155,304,516,470,693
1,0,591,237,341,155,693,571,225,331,29,747
2,1,569,308,470,49,732,502,220,441,136,652
3,1,502,183,398,51,739,519,235,462,24,708
4,0,518,200,408,155,739,537,225,321,50,652
...,...,...,...,...,...,...,...,...,...,...,...
631,1,537,251,711,17,441,517,200,462,52,732
632,1,502,200,326,155,757,498,244,376,132,685
633,0,592,251,463,8,767,523,204,326,24,739
634,0,514,218,474,108,739,637,301,440,52,720
635,1,580,237,346,52,722,589,293,462,155,792

### 86636로우 * 139개 컬럼

In [24]:
cols=list(train.columns)
cols

['Unnamed: 0',
 'gameId',
 'matchId',
 'gameVersion',
 'gameDuration',
 'teamVictory',
 'team_100_gold',
 'team_200_gold',
 'Player_id',
 'Player_1_ban',
 'Player_1_pick',
 'Player_1_ban_turn',
 'Player_1_role',
 'Player_1_team',
 'Player_1_victory',
 'Player_1_position',
 'Player_1_time_game',
 'Player_1_gold',
 'Player_1_xp',
 'Player_1_dmg_dealt',
 'Player_1_dmg_taken',
 'Player_1_time_ccing',
 'Player_2_ban',
 'Player_2_pick',
 'Player_2_ban_turn',
 'Player_2_role',
 'Player_2_team',
 'Player_2_victory',
 'Player_2_position',
 'Player_2_time_game',
 'Player_2_gold',
 'Player_2_xp',
 'Player_2_dmg_dealt',
 'Player_2_dmg_taken',
 'Player_2_time_ccing',
 'Player_3_ban',
 'Player_3_pick',
 'Player_3_ban_turn',
 'Player_3_role',
 'Player_3_team',
 'Player_3_victory',
 'Player_3_position',
 'Player_3_time_game',
 'Player_3_gold',
 'Player_3_xp',
 'Player_3_dmg_dealt',
 'Player_3_dmg_taken',
 'Player_3_time_ccing',
 'Player_4_ban',
 'Player_4_pick',
 'Player_4_ban_turn',
 'Player_4_role',
 'Player_4_team',
 'Player_4_victory',
 'Player_4_position',
 'Player_4_time_game',
 'Player_4_gold',
 'Player_4_xp',
 'Player_4_dmg_dealt',
 'Player_4_dmg_taken',
 'Player_4_time_ccing',
 'Player_5_ban',
 'Player_5_pick',
 'Player_5_ban_turn',
 'Player_5_role',
 'Player_5_team',
 'Player_5_victory',
 'Player_5_position',
 'Player_5_time_game',
 'Player_5_gold',
 'Player_5_xp',
 'Player_5_dmg_dealt',
 'Player_5_dmg_taken',
 'Player_5_time_ccing',
 'Player_6_ban',
 'Player_6_pick',
 'Player_6_ban_turn',
 'Player_6_role',
 'Player_6_team',
 'Player_6_victory',
 'Player_6_position',
 'Player_6_time_game',
 'Player_6_gold',
 'Player_6_xp',
 'Player_6_dmg_dealt',
 'Player_6_dmg_taken',
 'Player_6_time_ccing',
 'Player_7_ban',
 'Player_7_pick',
 'Player_7_ban_turn',
 'Player_7_role',
 'Player_7_team',
 'Player_7_victory',
 'Player_7_position',
 'Player_7_time_game',
 'Player_7_gold',
 'Player_7_xp',
 'Player_7_dmg_dealt',
 'Player_7_dmg_taken',
 'Player_7_time_ccing',
 'Player_8_ban',
 'Player_8_pick',
 'Player_8_ban_turn',
 'Player_8_role',
 'Player_8_team',
 'Player_8_victory',
 'Player_8_position',
 'Player_8_time_game',
 'Player_8_gold',
 'Player_8_xp',
 'Player_8_dmg_dealt',
 'Player_8_dmg_taken',
 'Player_8_time_ccing',
 'Player_9_ban',
 'Player_9_pick',
 'Player_9_ban_turn',
 'Player_9_role',
 'Player_9_team',
 'Player_9_victory',
 'Player_9_position',
 'Player_9_time_game',
 'Player_9_gold',
 'Player_9_xp',
 'Player_9_dmg_dealt',
 'Player_9_dmg_taken',
 'Player_9_time_ccing',
 'Player_10_ban',
 'Player_10_pick',
 'Player_10_ban_turn',
 'Player_10_role',
 'Player_10_team',
 'Player_10_victory',
 'Player_10_position',
 'Player_10_time_game',
 'Player_10_gold',
 'Player_10_xp',
 'Player_10_dmg_dealt',
 'Player_10_dmg_taken',
 'Player_10_time_ccing']

### 필요한 컬럼만 남김

In [25]:
train=train[['teamVictory',
            'Player_1_pick','Player_1_position',
            'Player_2_pick','Player_2_position',
            'Player_3_pick','Player_3_position',
            'Player_4_pick','Player_4_position',
            'Player_5_pick','Player_5_position',
            'Player_6_pick','Player_6_position',
            'Player_7_pick','Player_7_position',
            'Player_8_pick','Player_8_position',
            'Player_9_pick','Player_9_position',
            'Player_10_pick','Player_10_position'
            ]]

In [26]:
train.isna().sum()
# 포지션 결측치 조금 있음
# -> 팀별로 겹치는거 없이 선택만 되면 됨

teamVictory             0
Player_1_pick           0
Player_1_position      90
Player_2_pick           0
Player_2_position     103
Player_3_pick           0
Player_3_position      87
Player_4_pick           0
Player_4_position      85
Player_5_pick           0
Player_5_position      77
Player_6_pick           0
Player_6_position      91
Player_7_pick           0
Player_7_position      80
Player_8_pick           0
Player_8_position      75
Player_9_pick           0
Player_9_position      72
Player_10_pick          0
Player_10_position     81
dtype: int64

### 레드팀 포지션, 블루팀 포지션 나눠서 결측 대체

In [27]:
red_pos=train[['Player_1_position','Player_2_position','Player_3_position','Player_4_position','Player_5_position']]
blue_pos=train[['Player_6_position','Player_7_position','Player_8_position','Player_9_position','Player_10_position']]

In [28]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

In [29]:
# 숫자값으로 인코딩
# 라벨 인코더 돌릴려고 일단 ?처리
for i in red_pos.columns:
    red_pos[i][red_pos[i].isna()]='?'
for i in blue_pos.columns:
    blue_pos[i][blue_pos[i].isna()]='?'

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos[i][red_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos[i][red_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos[i][red_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos[i][red_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos[i][red_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue_pos[i][blue_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue_pos[i][blue_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue_pos[i][blue_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue_pos[i][blue_pos[i].isna()]='?'
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2153901743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue_pos[i][blue_pos[i].isna()]='?'

In [30]:
le=LabelEncoder()
for i in range(5):
    red_pos.iloc[:,i]=le.fit_transform(red_pos.iloc[:,i])
    blue_pos.iloc[:,i]=le.fit_transform(blue_pos.iloc[:,i])

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\30559267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos.iloc[:,i]=le.fit_transform(red_pos.iloc[:,i])
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\30559267.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  red_pos.iloc[:,i]=le.fit_transform(red_pos.iloc[:,i])
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\30559267.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blue_pos.iloc[:,i]=le.fit_transform(blue_pos.iloc[:,i])
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\30559267.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  blue_pos.iloc[:,i]=le.fit_transform(blue_pos.iloc[:,i])
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\30559267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_pos.iloc[:,i]=le.fit_transform(red_pos.iloc[:,i])
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\30559267.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  red_pos.iloc[:,i]=le.fit_transform(red_pos.iloc[:,i])

### 팀별로 포지션 겹치지 않으므로 로우의 합이 15가 되어야됨 (1+2+3+4+5)

In [31]:
red_pos[red_pos.isin([0]).any(axis=1)]
blue_pos[blue_pos.isin([0]).any(axis=1)]

,Player_6_position,Player_7_position,Player_8_position,Player_9_position,Player_10_position
262,0,2,3,1,5
284,0,2,3,1,5
295,4,0,3,1,5
355,4,2,0,1,5
383,4,2,0,1,5
...,...,...,...,...,...
356,4,2,3,1,0
406,4,2,3,1,0
829,0,2,3,1,5
119,4,2,3,1,0
396,4,2,3,0,5

In [32]:
for i in range(len(red_pos)):
    red_pos.iloc[i,].replace(0,15-red_pos.iloc[i,].sum(),inplace=True)
    blue_pos.iloc[i,].replace(0,15-blue_pos.iloc[i,].sum(),inplace=True)

In [33]:
red_pos[red_pos.isin([0]).any(axis=1)]

Empty DataFrame
Columns: [Player_1_position, Player_2_position, Player_3_position, Player_4_position, Player_5_position]
Index: []

In [34]:
blue_pos[blue_pos.isin([0]).any(axis=1)]

Empty DataFrame
Columns: [Player_6_position, Player_7_position, Player_8_position, Player_9_position, Player_10_position]
Index: []

In [35]:
train[['Player_1_position','Player_2_position','Player_3_position','Player_4_position','Player_5_position']]=red_pos[['Player_1_position', 'Player_2_position', 'Player_3_position',
       'Player_4_position', 'Player_5_position']]

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2544618964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[['Player_1_position','Player_2_position','Player_3_position','Player_4_position','Player_5_position']]=red_pos[['Player_1_position', 'Player_2_position', 'Player_3_position',

In [36]:
train[['Player_6_position', 'Player_7_position', 'Player_8_position',
       'Player_9_position', 'Player_10_position']]=blue_pos[['Player_6_position', 'Player_7_position', 'Player_8_position',
       'Player_9_position', 'Player_10_position']]

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2604889869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[['Player_6_position', 'Player_7_position', 'Player_8_position',

In [37]:
train

,teamVictory,Player_1_pick,Player_1_position,Player_2_pick,Player_2_position,Player_3_pick,Player_3_position,Player_4_pick,Player_4_position,Player_5_pick,...,Player_6_pick,Player_6_position,Player_7_pick,Player_7_position,Player_8_pick,Player_8_position,Player_9_pick,Player_9_position,Player_10_pick,Player_10_position
0,100,420,3,107,2,42,4,429,1,111,...,221,1,106,2,150,4,777,3,43,5
1,100,98,4,62,2,42,3,221,1,43,...,78,4,64,2,268,3,81,1,235,5
2,200,516,4,5,2,777,3,202,1,555,...,122,4,121,2,134,3,67,1,432,5
3,200,122,4,131,2,82,3,145,1,888,...,887,4,11,2,112,3,119,1,127,5
4,100,104,4,120,2,61,3,221,1,888,...,10,4,64,2,103,3,222,1,432,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,200,10,4,78,2,99,5,51,1,134,...,79,4,120,2,112,3,429,1,555,5
632,200,122,4,120,2,34,3,221,1,37,...,164,4,76,2,55,3,29,1,40,5
633,100,102,4,78,2,8,3,523,1,412,...,39,4,427,2,34,3,119,1,888,5
634,100,41,4,141,2,238,3,147,1,888,...,26,4,234,2,517,3,429,1,267,5
635,200,58,4,62,2,245,3,429,1,111,...,875,4,77,2,112,3,221,1,350,5

In [38]:
train[['Player_1_pick','Player_2_pick','Player_3_pick','Player_4_pick','Player_5_pick','Player_6_pick','Player_7_pick','Player_8_pick','Player_9_pick','Player_10_pick']]=train[['Player_1_pick','Player_2_pick','Player_3_pick','Player_4_pick','Player_5_pick','Player_6_pick','Player_7_pick','Player_8_pick','Player_9_pick','Player_10_pick']].replace(num,idx)

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2378071675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[['Player_1_pick','Player_2_pick','Player_3_pick','Player_4_pick','Player_5_pick','Player_6_pick','Player_7_pick','Player_8_pick','Player_9_pick','Player_10_pick']]=train[['Player_1_pick','Player_2_pick','Player_3_pick','Player_4_pick','Player_5_pick','Player_6_pick','Player_7_pick','Player_8_pick','Player_9_pick','Player_10_pick']].replace(num,idx)

### 챔피언+포지션 합친 인덱스 번호 부여

In [39]:
train.Player_1_pick=train.Player_1_pick+((train.Player_1_position-1)*160)
train.Player_2_pick=train.Player_2_pick+((train.Player_2_position-1)*160)
train.Player_3_pick=train.Player_3_pick+((train.Player_3_position-1)*160)
train.Player_4_pick=train.Player_4_pick+((train.Player_4_position-1)*160)
train.Player_5_pick=train.Player_5_pick+((train.Player_5_position-1)*160)
train.Player_6_pick=train.Player_6_pick+((train.Player_6_position-1)*160)
train.Player_7_pick=train.Player_7_pick+((train.Player_7_position-1)*160)
train.Player_8_pick=train.Player_8_pick+((train.Player_8_position-1)*160)
train.Player_9_pick=train.Player_9_pick+((train.Player_9_position-1)*160)
train.Player_10_pick=train.Player_10_pick+((train.Player_10_position-1)*160)

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_1_pick=train.Player_1_pick+((train.Player_1_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_2_pick=train.Player_2_pick+((train.Player_2_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_3_pick=train.Player_3_pick+((train.Player_3_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_4_pick=train.Player_4_pick+((train.Player_4_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_5_pick=train.Player_5_pick+((train.Player_5_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_6_pick=train.Player_6_pick+((train.Player_6_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_7_pick=train.Player_7_pick+((train.Player_7_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_8_pick=train.Player_8_pick+((train.Player_8_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_9_pick=train.Player_9_pick+((train.Player_9_position-1)*160)
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\1404318075.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Player_10_pick=train.Player_10_pick+((train.Player_10_position-1)*160)

In [40]:
train=train[['teamVictory', 'Player_1_pick', 'Player_2_pick','Player_3_pick','Player_4_pick', 'Player_5_pick',
      'Player_6_pick', 'Player_7_pick', 'Player_8_pick', 'Player_9_pick', 'Player_10_pick']]

In [41]:
for i in train.columns:
    train[i]=train[i].astype('category')

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')
C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2720604271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[i]=train[i].astype('category')

In [42]:
train.teamVictory=le.fit_transform(train.teamVictory)

C:\Users\LG\AppData\Local\Temp\ipykernel_22048\2723338048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.teamVictory=le.fit_transform(train.teamVictory)

# pycaret 사용

In [43]:
from pycaret.classification import *

In [44]:
clf = setup(data=train.iloc[:69309,], target='teamVictory')
best_model = compare_models()

## 총 320분 가량 돌아감

In [45]:
predict_model(best_model, data=train.iloc[69309:,])

,teamVictory,Player_1_pick,Player_2_pick,Player_3_pick,Player_4_pick,Player_5_pick,Player_6_pick,Player_7_pick,Player_8_pick,Player_9_pick,Player_10_pick,Label,Score
309,0,514,257,352,155,654,537,237,439,29,792,1,0.5135
310,0,327,220,493,17,767,498,183,474,76,711,1,0.6267
311,1,186,569,469,49,792,606,304,343,29,693,0,0.5805
312,0,582,301,379,52,644,567,220,331,155,735,0,0.5065
313,0,635,300,440,108,685,502,200,321,49,757,0,0.6335
...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,1,537,251,711,17,441,517,200,462,52,732,0,0.5902
632,1,502,200,326,155,757,498,244,376,132,685,1,0.5653
633,0,592,251,463,8,767,523,204,326,24,739,1,0.5011
634,0,514,218,474,108,739,637,301,440,52,720,0,0.6197
635,1,580,237,346,52,722,589,293,462,155,792,0,0.5520

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [51]:
target=train.iloc[:,0]
data=train.drop('teamVictory',axis=1)

In [56]:
# 훈련 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

# 랜덤 포레스트 모델 생성 및 학습
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# 모델 예측 및 평가
y_pred = rf.predict(X_test)
accuracy = rf.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.5121768236380425

In [63]:
# 로지스틱 회귀 모델 생성 및 학습
lr = LogisticRegression()
lr.fit(X_train, y_train)

# 모델 예측 및 평가
y_pred = lr.predict(X_test)
accuracy = lr.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.5198522622345337

## train전처리.ipynb